<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD1884</key>
	<dict>
		<key>CodecID</key>
		<integer>6276</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
		</array>
		<key>Vendor</key>
		<string>AnalogDevices</string>
	</dict>
	<key>AD1984</key>
	<dict>
		<key>CodecID</key>
		<integer>6532</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100400</string>
		</array>
		<key>Vendor</key>
		<string>AnalogDevices</string>
	</dict>
	<key>AD1984A</key>
	<dict>
		<key>CodecID</key>
		<integer>6474</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>13</integer>
			<integer>44</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100400</string>
		</array>
		<key>Vendor</key>
		<string>AnalogDevices</string>
	</dict>
	<key>AD1988A</key>
	<dict>
		<key>CodecID</key>
		<integer>6536</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
		</array>
		<key>Vendor</key>
		<string>AnalogDevices</string>
	</dict>
	<key>AD1988B</key>
	<dict>
		<key>CodecID</key>
		<integer>6539</integer>
		<key>Layouts</key>
		<array>
			<integer>5</integer>
			<integer>7</integer>
			<integer>12</integer>
		</array>
		<key>Vendor</key>
		<string>AnalogDevices</string>
	</dict>
	<key>AD2000B</key>
	<dict>
		<key>CodecID</key>
		<integer>39067</integer>
		<key>Layouts</key>
		<array>
			<integer>5</integer>
			<integer>7</integer>
		</array>
		<key>Vendor</key>
		<string>AnalogDevices</string>
	</dict>
	<key>ALC1150</key>
	<dict>
		<key>CodecID</key>
		<integer>2304</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>99</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100001</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC1220</key>
	<dict>
		<key>CodecID</key>
		<integer>4640</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>20</integer>
			<integer>21</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>30</integer>
			<integer>34</integer>
			<integer>35</integer>
			<integer>98</integer>
			<integer>99</integer>
			<integer>100</integer>
			<integer>25</integer>
			<integer>18</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100101</string>
			<string>0x100003</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC215</key>
	<dict>
		<key>CodecID</key>
		<integer>533</integer>
		<key>Layouts</key>
		<array>
			<integer>18</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC221</key>
	<dict>
		<key>CodecID</key>
		<integer>545</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>15</integer>
			<integer>88</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100003</string>
			<string>0x100103</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC222</key>
	<dict>
		<key>CodecID</key>
		<integer>546</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>12</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100001</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC225</key>
	<dict>
		<key>CodecID</key>
		<integer>549</integer>
		<key>Layouts</key>
		<array>
			<integer>28</integer>
			<integer>30</integer>
			<integer>33</integer>
			<integer>90</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC230</key>
	<dict>
		<key>CodecID</key>
		<integer>560</integer>
		<key>Layouts</key>
		<array>
			<integer>20</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC233</key>
	<dict>
		<key>CodecID</key>
		<integer>563</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>13</integer>
			<integer>21</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>32</integer>
			<integer>33</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100003</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC235</key>
	<dict>
		<key>CodecID</key>
		<integer>565</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>8</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>24</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>33</integer>
			<integer>35</integer>
			<integer>37</integer>
			<integer>72</integer>
			<integer>88</integer>
			<integer>99</integer>
			<integer>36</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC236</key>
	<dict>
		<key>CodecID</key>
		<integer>566</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>19</integer>
			<integer>23</integer>
			<integer>36</integer>
			<integer>54</integer>
			<integer>55</integer>
			<integer>69</integer>
			<integer>99</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100001</string>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC245</key>
	<dict>
		<key>CodecID</key>
		<integer>581</integer>
		<key>Layouts</key>
		<array>
			<integer>13</integer>
			<integer>11</integer>
			<integer>12</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC255</key>
	<dict>
		<key>CodecID</key>
		<integer>597</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>12</integer>
			<integer>66</integer>
			<integer>86</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>20</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>23</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>30</integer>
			<integer>31</integer>
			<integer>71</integer>
			<integer>82</integer>
			<integer>99</integer>
			<integer>100</integer>
			<integer>96</integer>
			<integer>255</integer>
			<integer>69</integer>
			<integer>37</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC256</key>
	<dict>
		<key>CodecID</key>
		<integer>598</integer>
		<key>Layouts</key>
		<array>
			<integer>5</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>19</integer>
			<integer>20</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>23</integer>
			<integer>24</integer>
			<integer>28</integer>
			<integer>33</integer>
			<integer>56</integer>
			<integer>57</integer>
			<integer>66</integer>
			<integer>67</integer>
			<integer>69</integer>
			<integer>70</integer>
			<integer>76</integer>
			<integer>77</integer>
			<integer>88</integer>
			<integer>97</integer>
			<integer>99</integer>
			<integer>68</integer>
			<integer>95</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC257</key>
	<dict>
		<key>CodecID</key>
		<integer>599</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>18</integer>
			<integer>86</integer>
			<integer>96</integer>
			<integer>97</integer>
			<integer>99</integer>
			<integer>100</integer>
			<integer>101</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100001</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC260</key>
	<dict>
		<key>CodecID</key>
		<integer>608</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>12</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC262</key>
	<dict>
		<key>CodecID</key>
		<integer>610</integer>
		<key>Layouts</key>
		<array>
			<integer>7</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>28</integer>
			<integer>66</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100100</string>
			<string>0x100302</string>
			<string>0x100202</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC268</key>
	<dict>
		<key>CodecID</key>
		<integer>616</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>11</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC269</key>
	<dict>
		<key>CodecID</key>
		<integer>617</integer>
		<key>Layouts</key>
		<array>
			<integer>25</integer>
			<integer>23</integer>
			<integer>24</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>19</integer>
			<integer>20</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>26</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>30</integer>
			<integer>31</integer>
			<integer>32</integer>
			<integer>33</integer>
			<integer>34</integer>
			<integer>35</integer>
			<integer>36</integer>
			<integer>40</integer>
			<integer>44</integer>
			<integer>45</integer>
			<integer>55</integer>
			<integer>58</integer>
			<integer>66</integer>
			<integer>69</integer>
			<integer>76</integer>
			<integer>88</integer>
			<integer>93</integer>
			<integer>99</integer>
			<integer>100</integer>
			<integer>111</integer>
			<integer>127</integer>
			<integer>188</integer>
			<integer>47</integer>
			<integer>77</integer>
			<integer>128</integer>
			<integer>91</integer>
			<integer>39</integer>
			<integer>38</integer>
			<integer>138</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100203</string>
			<string>0x100004</string>
			<string>0x100202</string>
			<string>0x100100</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC270</key>
	<dict>
		<key>CodecID</key>
		<integer>624</integer>
		<key>Layouts</key>
		<array>
			<integer>4</integer>
			<integer>3</integer>
			<integer>21</integer>
			<integer>27</integer>
			<integer>28</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100100</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC272</key>
	<dict>
		<key>CodecID</key>
		<integer>626</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>18</integer>
			<integer>21</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100001</string>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC274</key>
	<dict>
		<key>CodecID</key>
		<integer>628</integer>
		<key>Layouts</key>
		<array>
			<integer>21</integer>
			<integer>28</integer>
			<integer>35</integer>
			<integer>39</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100004</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC275</key>
	<dict>
		<key>CodecID</key>
		<integer>629</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>13</integer>
			<integer>28</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100008</string>
			<string>0x100005</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC280</key>
	<dict>
		<key>CodecID</key>
		<integer>640</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>4</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>21</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC282</key>
	<dict>
		<key>CodecID</key>
		<integer>642</integer>
		<key>Layouts</key>
		<array>
			<integer>69</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>13</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>30</integer>
			<integer>41</integer>
			<integer>43</integer>
			<integer>51</integer>
			<integer>76</integer>
			<integer>86</integer>
			<integer>127</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100003</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC283</key>
	<dict>
		<key>CodecID</key>
		<integer>643</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>44</integer>
			<integer>45</integer>
			<integer>66</integer>
			<integer>88</integer>
			<integer>12</integer>
			<integer>73</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC284</key>
	<dict>
		<key>CodecID</key>
		<integer>644</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC285</key>
	<dict>
		<key>CodecID</key>
		<integer>645</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>21</integer>
			<integer>31</integer>
			<integer>52</integer>
			<integer>61</integer>
			<integer>66</integer>
			<integer>71</integer>
			<integer>88</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC286</key>
	<dict>
		<key>CodecID</key>
		<integer>646</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>11</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100002</string>
			<string>0x100003</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC287</key>
	<dict>
		<key>CodecID</key>
		<integer>647</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>21</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC288</key>
	<dict>
		<key>CodecID</key>
		<integer>648</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>13</integer>
			<integer>23</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC289</key>
	<dict>
		<key>CodecID</key>
		<integer>649</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>12</integer>
			<integer>15</integer>
			<integer>23</integer>
			<integer>33</integer>
			<integer>69</integer>
			<integer>99</integer>
			<integer>87</integer>
			<integer>93</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC290</key>
	<dict>
		<key>CodecID</key>
		<integer>656</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>4</integer>
			<integer>10</integer>
			<integer>15</integer>
			<integer>28</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC292</key>
	<dict>
		<key>CodecID</key>
		<integer>658</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
			<integer>15</integer>
			<integer>18</integer>
			<integer>28</integer>
			<integer>32</integer>
			<integer>55</integer>
			<integer>59</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC293</key>
	<dict>
		<key>CodecID</key>
		<integer>659</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>30</integer>
			<integer>31</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC294</key>
	<dict>
		<key>CodecID</key>
		<integer>660</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>28</integer>
			<integer>44</integer>
			<integer>66</integer>
			<integer>99</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC295</key>
	<dict>
		<key>CodecID</key>
		<integer>661</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>21</integer>
			<integer>28</integer>
			<integer>77</integer>
			<integer>23</integer>
			<integer>24</integer>
			<integer>22</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC298</key>
	<dict>
		<key>CodecID</key>
		<integer>664</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>11</integer>
			<integer>16</integer>
			<integer>13</integer>
			<integer>21</integer>
			<integer>22</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>30</integer>
			<integer>32</integer>
			<integer>33</integer>
			<integer>47</integer>
			<integer>66</integer>
			<integer>72</integer>
			<integer>99</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100101</string>
			<string>0x100103</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC299</key>
	<dict>
		<key>CodecID</key>
		<integer>665</integer>
		<key>Layouts</key>
		<array>
			<integer>21</integer>
			<integer>22</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC623</key>
	<dict>
		<key>CodecID</key>
		<integer>1571</integer>
		<key>Layouts</key>
		<array>
			<integer>21</integer>
			<integer>13</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100000</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC662</key>
	<dict>
		<key>CodecID</key>
		<integer>1634</integer>
		<key>Layouts</key>
		<array>
			<integer>5</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>19</integer>
			<integer>66</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100101</string>
			<string>0x100300</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC663</key>
	<dict>
		<key>CodecID</key>
		<integer>1635</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>4</integer>
			<integer>15</integer>
			<integer>28</integer>
			<integer>99</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100001</string>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC665</key>
	<dict>
		<key>CodecID</key>
		<integer>1637</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC668</key>
	<dict>
		<key>CodecID</key>
		<integer>1640</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>20</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100003</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC670</key>
	<dict>
		<key>CodecID</key>
		<integer>1648</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC671</key>
	<dict>
		<key>CodecID</key>
		<integer>1649</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>88</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC700</key>
	<dict>
		<key>CodecID</key>
		<integer>1792</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC882</key>
	<dict>
		<key>CodecID</key>
		<integer>2178</integer>
		<key>Layouts</key>
		<array>
			<integer>5</integer>
			<integer>7</integer>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC883</key>
	<dict>
		<key>CodecID</key>
		<integer>2179</integer>
		<key>Layouts</key>
		<array>
			<integer>7</integer>
			<integer>20</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC885</key>
	<dict>
		<key>CodecID</key>
		<integer>2181</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>12</integer>
			<integer>15</integer>
			<integer>63</integer>
			<integer>74</integer>
			<integer>53</integer>
			<integer>56</integer>
			<integer>58</integer>
			<integer>64</integer>
			<integer>70</integer>
			<integer>65</integer>
			<integer>48</integer>
			<integer>50</integer>
			<integer>60</integer>
			<integer>62</integer>
			<integer>67</integer>
			<integer>73</integer>
			<integer>13</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100101</string>
			<string>0x100103</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC887</key>
	<dict>
		<key>CodecID</key>
		<integer>2183</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>20</integer>
			<integer>33</integer>
			<integer>40</integer>
			<integer>50</integer>
			<integer>52</integer>
			<integer>53</integer>
			<integer>99</integer>
			<integer>87</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100202</string>
			<string>0x100302</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC888</key>
	<dict>
		<key>CodecID</key>
		<integer>2184</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100001</string>
			<string>0x100101</string>
			<string>0x100202</string>
			<string>0x100302</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC889</key>
	<dict>
		<key>CodecID</key>
		<integer>2185</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>11</integer>
			<integer>12</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100004</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC891</key>
	<dict>
		<key>CodecID</key>
		<integer>2151</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>13</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100002</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC892</key>
	<dict>
		<key>CodecID</key>
		<integer>2194</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>15</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>22</integer>
			<integer>23</integer>
			<integer>28</integer>
			<integer>31</integer>
			<integer>90</integer>
			<integer>92</integer>
			<integer>97</integer>
			<integer>98</integer>
			<integer>99</integer>
			<integer>20</integer>
			<integer>100</integer>
			<integer>32</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100302</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC897</key>
	<dict>
		<key>CodecID</key>
		<integer>2199</integer>
		<key>Layouts</key>
		<array>
			<integer>13</integer>
			<integer>23</integer>
			<integer>21</integer>
			<integer>66</integer>
			<integer>69</integer>
			<integer>12</integer>
			<integer>11</integer>
			<integer>77</integer>
			<integer>98</integer>
			<integer>99</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100402</string>
			<string>0x100500</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALC898</key>
	<dict>
		<key>CodecID</key>
		<integer>2201</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>28</integer>
			<integer>13</integer>
			<integer>65</integer>
			<integer>66</integer>
			<integer>98</integer>
			<integer>99</integer>
			<integer>101</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100003</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALCS1200A</key>
	<dict>
		<key>CodecID</key>
		<integer>2816</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>7</integer>
			<integer>49</integer>
			<integer>50</integer>
			<integer>11</integer>
			<integer>51</integer>
			<integer>52</integer>
			<integer>69</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100001</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>ALCS1220A</key>
	<dict>
		<key>CodecID</key>
		<integer>4456</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>5</integer>
			<integer>7</integer>
			<integer>20</integer>
			<integer>21</integer>
			<integer>11</integer>
			<integer>8</integer>
			<integer>13</integer>
			<integer>15</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100101</string>
			<string>0x100003</string>
		</array>
		<key>Vendor</key>
		<string>Realtek</string>
	</dict>
	<key>CA0132</key>
	<dict>
		<key>CodecID</key>
		<integer>17</integer>
		<key>Layouts</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>99</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100918</string>
		</array>
		<key>Vendor</key>
		<string>Creative</string>
	</dict>
	<key>CS4206</key>
	<dict>
		<key>CodecID</key>
		<integer>16902</integer>
		<key>Layouts</key>
		<array>
			<integer>1</integer>
			<integer>84</integer>
			<integer>31</integer>
			<integer>99</integer>
			<integer>61</integer>
			<integer>98</integer>
			<integer>91</integer>
			<integer>75</integer>
			<integer>76</integer>
			<integer>77</integer>
			<integer>71</integer>
			<integer>11</integer>
			<integer>13</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>39</integer>
			<integer>78</integer>
			<integer>79</integer>
			<integer>81</integer>
			<integer>18</integer>
			<integer>24</integer>
			<integer>9</integer>
			<integer>32</integer>
			<integer>3</integer>
			<integer>33</integer>
			<integer>35</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100103</string>
			<string>0x100301</string>
			<string>0x100302</string>
		</array>
		<key>Vendor</key>
		<string>CirrusLogic</string>
	</dict>
	<key>CS4210</key>
	<dict>
		<key>CodecID</key>
		<integer>16912</integer>
		<key>Layouts</key>
		<array>
			<integer>13</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100101</string>
		</array>
		<key>Vendor</key>
		<string>CirrusLogic</string>
	</dict>
	<key>CS4213</key>
	<dict>
		<key>CodecID</key>
		<integer>16915</integer>
		<key>Layouts</key>
		<array>
			<integer>28</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100100</string>
		</array>
		<key>Vendor</key>
		<string>CirrusLogic</string>
	</dict>
	<key>CX20561</key>
	<dict>
		<key>CodecID</key>
		<integer>20561</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100000</string>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20583</key>
	<dict>
		<key>CodecID</key>
		<integer>20583</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20585</key>
	<dict>
		<key>CodecID</key>
		<integer>20585</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20588</key>
	<dict>
		<key>CodecID</key>
		<integer>20588</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20590</key>
	<dict>
		<key>CodecID</key>
		<integer>20590</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>14</integer>
			<integer>28</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100000</string>
			<string>0x100002</string>
			<string>0x100003</string>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20632</key>
	<dict>
		<key>CodecID</key>
		<integer>20632</integer>
		<key>Layouts</key>
		<array>
			<integer>23</integer>
			<integer>28</integer>
			<integer>20</integer>
			<integer>21</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100100</string>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20641</key>
	<dict>
		<key>CodecID</key>
		<integer>20641</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20642</key>
	<dict>
		<key>CodecID</key>
		<integer>20642</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20722</key>
	<dict>
		<key>CodecID</key>
		<integer>20722</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20724</key>
	<dict>
		<key>CodecID</key>
		<integer>20724</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20751_2</key>
	<dict>
		<key>CodecID</key>
		<integer>20751</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>21</integer>
			<integer>28</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100100</string>
			<string>0x100001</string>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20753_4</key>
	<dict>
		<key>CodecID</key>
		<integer>20753</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>14</integer>
			<integer>15</integer>
			<integer>21</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20755</key>
	<dict>
		<key>CodecID</key>
		<integer>20755</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20756</key>
	<dict>
		<key>CodecID</key>
		<integer>20756</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX20757</key>
	<dict>
		<key>CodecID</key>
		<integer>20757</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>28</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX8050</key>
	<dict>
		<key>CodecID</key>
		<integer>8050</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX8070</key>
	<dict>
		<key>CodecID</key>
		<integer>8070</integer>
		<key>Layouts</key>
		<array>
			<integer>15</integer>
			<integer>21</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX8150</key>
	<dict>
		<key>CodecID</key>
		<integer>8150</integer>
		<key>Layouts</key>
		<array>
			<integer>21</integer>
			<integer>22</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX8200</key>
	<dict>
		<key>CodecID</key>
		<integer>8200</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>15</integer>
			<integer>21</integer>
			<integer>23</integer>
			<integer>80</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>CX8400</key>
	<dict>
		<key>CodecID</key>
		<integer>8400</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>Conexant</string>
	</dict>
	<key>IDT92HD66C3_65</key>
	<dict>
		<key>CodecID</key>
		<integer>30451</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD71B7X</key>
	<dict>
		<key>CodecID</key>
		<integer>30386</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD73C1X5</key>
	<dict>
		<key>CodecID</key>
		<integer>30325</integer>
		<key>Layouts</key>
		<array>
			<integer>19</integer>
			<integer>21</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD73E1X5</key>
	<dict>
		<key>CodecID</key>
		<integer>30326</integer>
		<key>Layouts</key>
		<array>
			<integer>15</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD75B2X5</key>
	<dict>
		<key>CodecID</key>
		<integer>30216</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD75B3X5</key>
	<dict>
		<key>CodecID</key>
		<integer>30211</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>11</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD81B1C5</key>
	<dict>
		<key>CodecID</key>
		<integer>30421</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>11</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD81B1X5</key>
	<dict>
		<key>CodecID</key>
		<integer>30213</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>20</integer>
			<integer>21</integer>
			<integer>28</integer>
			<integer>76</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD87B1</key>
	<dict>
		<key>CodecID</key>
		<integer>30213</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD87B1_3</key>
	<dict>
		<key>CodecID</key>
		<integer>30417</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100205</string>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD87B2_4</key>
	<dict>
		<key>CodecID</key>
		<integer>30425</integer>
		<key>Layouts</key>
		<array>
			<integer>13</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD90BXX</key>
	<dict>
		<key>CodecID</key>
		<integer>30439</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>12</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD91BXX</key>
	<dict>
		<key>CodecID</key>
		<integer>30432</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>33</integer>
			<integer>84</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100102</string>
			<string>0x100303</string>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD93BXX</key>
	<dict>
		<key>CodecID</key>
		<integer>30431</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100203</string>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD95</key>
	<dict>
		<key>CodecID</key>
		<integer>30357</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
			<integer>12</integer>
			<integer>14</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>IDT92HD99BXX</key>
	<dict>
		<key>CodecID</key>
		<integer>30437</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
		</array>
		<key>Vendor</key>
		<string>IDT</string>
	</dict>
	<key>STAC9200</key>
	<dict>
		<key>CodecID</key>
		<integer>30352</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x102201</string>
		</array>
		<key>Vendor</key>
		<string>SigmaTel</string>
	</dict>
	<key>STAC9205</key>
	<dict>
		<key>CodecID</key>
		<integer>30368</integer>
		<key>Layouts</key>
		<array>
			<integer>11</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100204</string>
		</array>
		<key>Vendor</key>
		<string>SigmaTel</string>
	</dict>
	<key>STAC9872AK</key>
	<dict>
		<key>CodecID</key>
		<integer>30306</integer>
		<key>Layouts</key>
		<array>
			<integer>12</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100201</string>
		</array>
		<key>Vendor</key>
		<string>SigmaTel</string>
	</dict>
	<key>VT1705</key>
	<dict>
		<key>CodecID</key>
		<integer>18272</integer>
		<key>Layouts</key>
		<array>
			<integer>21</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100000</string>
		</array>
		<key>Vendor</key>
		<string>VIA</string>
	</dict>
	<key>VT1802</key>
	<dict>
		<key>CodecID</key>
		<integer>33862</integer>
		<key>Layouts</key>
		<array>
			<integer>3</integer>
			<integer>33</integer>
			<integer>65</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100000</string>
		</array>
		<key>Vendor</key>
		<string>VIA</string>
	</dict>
	<key>VT2020_2021</key>
	<dict>
		<key>CodecID</key>
		<integer>1089</integer>
		<key>Layouts</key>
		<array>
			<integer>5</integer>
			<integer>7</integer>
			<integer>9</integer>
			<integer>13</integer>
		</array>
		<key>Revisions</key>
		<array>
			<string>0x100100</string>
		</array>
		<key>Vendor</key>
		<string>VIA</string>
	</dict>
</dict>
</plist>
